@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$primary: #0f5781;
$primary-dark: #0a3f5f;
$text: #333;
$border: #ddd;

.offer-container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  font-family: 'Roboto', sans-serif;
  color: $text;

  .back-link {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: $primary;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
    &:hover { background-color: $primary-dark; }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .company-info-container {
    display: flex;
    align-items: center;
  }

  .company-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  .offer-title { text-align: center; margin-bottom: 1.5rem; }

  table {
    width: 80%;
    max-width: 100vw;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 1rem;
    border: 1px solid $border; // Dodaj tę linię, aby dodać ramkę wokół tabeli

    th, td {
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid $border;
      border-right: 1px solid $border;
      &:last-child { border-right: none; }
    }

    th {
      background-color: $primary;
      color: white;
      border-bottom: 2px solid $primary-dark;
    }

    tr:last-child td { border-bottom: none; }
  }

  @media print {
    color: black;
    .back-link { display: none !important; }
    .table-container { overflow-x: visible; }
    table {
      border: 1px solid black;
      
      th, td {
        border: 1px solid black;
        color: black;
      }
      
      th {
        background-color: white !important;
        color: black !important;
      }
    }
  }
}